* {
  font-family: sans-serif;
}

.barrier {}

input[type=checkbox] {
  margin-left: -15px;
  margin-right: -15px;
}

.barrier input {
  width: 50px;
}

.barrier > * {
  margin-right: 10px;
  margin-bottom: 15px;
}

.total {
  margin: 10px;
}

.index {
  font-size: x-small;
}